.container {
    height: 637px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 72px;
    margin-left: 7.015%;
    margin-right: 15.20%;
    display: flex;
}
.gallery {
    float: left;
    min-width: 500px;
    width: inherit;
    height: inherit;
    position: relative;
    margin-right: 100px;
}
.small {
    min-width: 79px;
    width: 10.69%;
    min-height: 80px;
    height: 10.82%;
    margin-bottom: 40px;
    /* margin-right: 40px; */
    object-fit: contain;
    display: block;
    cursor: pointer;
}
.large {
    position: absolute;
    width: 82.54%;
    /* height: 511px; */
    right: 0;
    top: 0;
}

.title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    text-transform: capitalize;
    margin-bottom: 16px;
    margin-top: 0;
}
.product {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    text-transform: capitalize;
    margin-top: 0;
}
.attribute,  .priceLabel{
    /* font-family: 'Roboto-Condensed'; */
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #1D1F22;
    text-transform: uppercase;
}

.price {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    color: #1D1F22;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 46px;
    display: flex;
    align-items: center;
}
.add {
    width: 292px;
    height: 52px;
    background: #5ECE7B;
    color: #EEEEEE;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.add:hover {
    filter: blur(1px);
    box-shadow: 1px 3px 8px -1px rgb(0 0 0 / 39%);
}
.text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin: 0;
    padding: 0 0 10px;
}
#active {
    background-color: #1D1F22!important;
    color: #EEEEEE!important;
}
#activeColor {
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    padding: 0;
}
.attribute {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #1D1F22;
    text-transform: uppercase;
}
.buttons {
    display: flex;
    margin-top: 8px;
    margin-bottom: 40px;
}
.button {
    width: 63px;
    height: 45px;
    border: 1px solid #1D1F22;
    margin-right: 12px;
    background: transparent;
    text-transform: uppercase;
}
.button:hover {
    filter: blur(1px);
    box-shadow: 1px 3px 8px -1px rgb(0 0 0 / 39%);
}