.header {
    display: flex;
    width: 85.97%;
    margin: auto;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-image: url('../../images/logo.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
/* .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.actions {
    display: flex;
    height: 40px;
    align-items: center;
}
/* navMenu */
.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  cursor: pointer;
  height: inherit;
}
.navItem {
  color: #1D1F22;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  height: inherit;
}
#active {
  font-weight: 600 !important;
  color: #5ECE7B !important;
  border-bottom: 2px solid #5ECE7B;
}