body {
  overflow-x: hidden;
  -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

body, #root, .app {
  height: 100vh;
  width: 100vw;
}

.content {
  min-height: calc(100vh - 80px);
  width: 100%;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.background {
  background: rgba(57, 55, 72, 0.22);
  position: fixed;
  opacity: .7;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}